header {
    background-color: #333; /* Gris oscuro */
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Pegado a la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegurarse de que el header siempre esté en la cima */
}

header h1 {
    margin: 0;
    color: white; /* Letras en blanco */
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Fuente estándar */
}

header .nav-buttons {
    display: flex;
    gap: 15px;
    margin-right: 20px; /* Ajusta el margen derecho para evitar que se salga de la pantalla */
}

header .nav-buttons span {
    align-self: center; /* Asegurar alineación vertical del nombre de usuario */
}

header button {
    padding: 5px 10px;
    border: none;
    background-color: #333; /* Gris oscuro */
    color: white;
    border-radius: 5px; /* Botones redondeados */
    cursor: pointer;
}

header button:hover {
    background-color: #555;
}


body {
    background-image: url('../assets/images/image.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    margin: 0; /* Elimina los márgenes por defecto del body */
    height: 100vh; /* Asegura que el fondo cubra toda la ventana del navegador */
}

body#main-body {
    background-image: url('../assets/images/image2.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    margin: 0; /* Elimina los márgenes por defecto del body */
    height: 100vh; /* Asegura que el fondo cubra toda la ventana del navegador */
}


footer {
    position: fixed; /* Pegado a la parte inferior */
    left: 0;
    bottom: 0; /* Asegura que esté pegado a la parte inferior */
    background-color: #333; /* Gris oscuro */
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 0; /* Espaciado más adecuado */
    width: 100%; /* Ocupar todo el ancho */
     /* z-index: 1000; /* Asegúrate de que esté en la cima */
}

/* Modales */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenido del Modal */
.modal-content {
    background-color: #ffffff; /* Fondo blanco */
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 450px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Cerrar Modal */
.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #aaa; /* Gris claro */
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-close:hover {
    color: #f44336; /* Rojo al pasar el mouse */
}

/* Títulos */
h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

/* Etiquetas */
label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

/* Campos de Entrada */
input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #333; /* Azul brillante al enfocar */
    outline: none;
}

/* Botones */
button[type="submit"] {
    margin-top: 25px;
    padding: 12px;
    width: 100%;
    background-color: #333f; /* Azul */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #332; /* Azul oscuro al pasar el mouse */
}

/* Mensajes de error */
.error-message {
    color: #f44336; /* Rojo */
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

/* Estilos adicionales */
.error-message, .modal-close {
    font-weight: 500;
}
/* Nav Bar */
.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px 0;
    margin-top: 55px; /* Espacio debajo del header */
}

.nav-bar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-bar button.active {
    background-color: #4CAF50;
}

.nav-bar button:hover {
    background-color: #666;
}

/* Estilos para script Inicio */
/* Estilo para la tabla de productos */
.products-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    table-layout: fixed; /* Evita que las columnas se expandan de manera inesperada */
    overflow: auto; /* Agrega barra de desplazamiento si es necesario */
}

.products-table th,
.products-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.products-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.products-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.products-table tr:hover {
    background-color: #f1f1f1;
}

/* Estilo de la paginación */
.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap; /* Permite que los botones de la paginación se ajusten si no caben */
}

.pagination button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.pagination button.active {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
}

.pagination button:hover {
    background-color: #ddd;
}

/* Ajustes generales */
#mainContent {
    padding: 20px;
    min-height: 100px; /* Asegura que tenga un tamaño mínimo */
    box-sizing: border-box; /* Evita el desbordamiento */
}
