header {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

header .nav-buttons {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

header .nav-buttons span {
    align-self: center;
}

header button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #555;
}

body {
    background-image: url('../assets/images/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#mainContent {
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

/* Modales */
.modal {
    display: none; /* Modificado para que no se abran automáticamente */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 450px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: 0 auto;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-close:hover {
    color: #f44336;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

input {
    width: calc(100% - 24px);
    padding: 12px;
    margin-top: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s ease;
    display: block;
    margin: 10px auto;
}

input:focus {
    border-color: #333;
    outline: none;
}

button[type="submit"] {
    margin-top: 25px;
    padding: 12px;
    width: calc(100% - 24px);
    background-color: #333;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0 auto;
}

button[type="submit"]:hover {
    background-color: #222;
}

.error-message {
    color: #f44336;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

/* Nav Bar */
.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px 0;
    margin-top: 55px;
}

.nav-bar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-bar button.active {
    background-color: #4CAF50;
}

.nav-bar button:hover {
    background-color: #4CAF50;
}

/* Tabla de productos */
.products-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    table-layout: fixed;
    overflow: auto;
}

.products-table th,
.products-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.products-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.products-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.products-table tr:hover {
    background-color: #f1f1f1;
}

/* Paginación */
.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.pagination button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.pagination button.active {
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
}

.pagination button:hover {
    background-color: #ddd;
}

/* ---------------------------------------------------------------------- */ 

/* Estilos para el anuncio transparente */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    display: none; /* Oculto por defecto */
}
