/* Fondo general */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #e9ecef; /* Color de fondo suave */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #333; /* Gris oscuro */
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Pegado a la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegurarse de que el header siempre esté en la cima */
}

header h1 {
    margin: 0;
    color: white; /* Letras en blanco */
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Fuente estándar */
}

.header-link:visited {
    color: white; /* Siempre en blanco, incluso después de ser clicado */
}

header .nav-buttons {
    display: flex;
    gap: 15px;
    margin-right: 20px; /* Ajusta el margen derecho para evitar que se salga de la pantalla */
}

header .nav-buttons span {
    align-self: center; /* Asegurar alineación vertical del nombre de usuario */
}

header button {
    padding: 5px 10px;
    border: none;
    background-color: #333; /* Gris oscuro */
    color: white;
    border-radius: 5px; /* Botones redondeados */
    cursor: pointer;
}

header button:hover {
    background-color: #555;
}

main {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px; /* Añadir margen superior para compensar el header fijo */
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

/* Estilos para la barra de búsqueda */
.search-bar-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #333; /* Gris oscuro */
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #555;
}

/* Estilos para la lista de alumnos */
.students-list-container {
    width: 100%;
}

.students-list-header {
    display: flex;
    justify-content: space-between; /* Espacio entre título y botón */
    align-items: center;
    margin-bottom: 10px; /* Añadir un margen inferior */
}

.students-list-header h2 {
    flex-grow: 1; /* Asegura que el título ocupe todo el espacio disponible */
}

.add-student-button {
    padding: 5px 10px;
    border: none;
    background-color: #333; /* Gris oscuro */
    color: white;
    border-radius: 5px; /* Botón redondeado */
    cursor: pointer;
    margin-left: auto; /* Empuja el botón a la derecha */
}

.add-student-button:hover {
    background-color: #555;
}

.students-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.student-item {
    padding: 10px;
    background-color: #e8f0fe;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-item:nth-child(even) {
    background-color: #f1f5fc;
}

.student-actions {
    display: flex;
    gap: 10px;
}

.student-actions button {
    padding: 5px 10px;
    border: none;
    background-color: #333; /* Gris oscuro */
    color: white;
    border-radius: 5px; /* Botones redondeados */
    cursor: pointer;
}

.student-actions button:hover {
    background-color: #555;
}

footer {
    background-color: #333; /* Gris oscuro */
    color: white;
    text-align: center;
    padding: 10px 0; /* Espaciado más adecuado */
    width: 100%; /* Ocupar todo el ancho */
}

/* Contenedor de formulario */
.login-box {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto elevado */
}

/* Encabezado de formulario */
.login-box h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 24px;
    color: #495057;
    font-weight: 600;
}

/* Estructura del formulario */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Campos de entrada */
.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Cambio de color de borde al enfocar */
.input-field:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Botón del formulario */
.login-form button {
    width: 100%;
    padding: 12px;
    background:  #333;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-form button:hover {
    background: linear-gradient(135deg, #495057, #343a40);
}

/* Enlace */
.login-form .link {
    text-align: center;
    color: #495057;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.login-form .link:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Estilo general para la ventana modal */
.modal {
    display: none; /* Por defecto, oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Para asegurarse de que esté encima de otros elementos */
}

/* Contenido de la ventana modal */
.modal-content {
    background-color: #fff;
    padding: 15px; /* Se reduce el padding para hacerlo más compacto */
    border-radius: 5px;
    max-width: 400px; /* Se reduce el tamaño máximo */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Estilo para el botón de cerrar */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px; /* Se reduce el tamaño de la cruz */
    cursor: pointer;
}

/* Estilo para el formulario */
#addStudentForm {
    display: flex;
    flex-direction: column;
}

/* Alineación de los labels y campos de texto */
#addStudentForm label {
    font-size: 13px; /* Se reduce el tamaño de la fuente */
    margin-bottom: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
}

#addStudentForm input, 
#addStudentForm textarea {
    font-size: 14px; /* Se reduce el tamaño de la fuente */
    padding: 6px; /* Se reduce el padding para hacer los campos más compactos */
    margin-bottom: 12px; /* Menos espacio entre los campos */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de guardar */
#addStudentForm button {
    background-color: #333; /* Color de fondo verde */
    color: white;
    padding: 8px 12px; /* Se reduce el tamaño del botón */
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Se reduce el tamaño de la fuente */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto cuando el botón de guardar es presionado */
#addStudentForm button:hover {
    background-color: #333;
}



